.footer__caption {
  color: #545454;
  font-size: 18px;
  line-height: 21,78px;
  margin: 0;
}

@media screen and (max-width: 950px) {
  .footer__caption {
    font-size: 14px;
    line-height: 17px;
  }
}