.popup__exit {
  position: absolute;
  right: -40px;
  top: -40px;
  cursor: pointer;
  width: 32px;
  height: 32px;
  transition: opacity .3s ease-in-out;
  background-image: url(../../../images/X.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  border: 0;
}

.popup__exit:hover {
  opacity: 0.6;
}

@media screen and (max-width: 950px) {
  .popup__exit {
    width: 20px;
    height: 20px;
    right: 0;
    top: -36px;
  }
}